*{margin:0; padding:0; font-family:"Trebuchet MS";}
body{background: #fff;}

a {
	text-decoration:none; 
	color:#000;
}
a:hover { 
	text-decoration:none; 
	color:#fff; 
	background: #5b9bd5;
}

.page_title {
	background:#5b9bd5;
	border: 50px solid #5b9bd5;
}

#b_common {width: 120px; height: 42px; background: #5b9bd5; border: 8px solid #5b9bd5;font-size:17px;color: #000; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_A {width: 120px; height: 42px; background: #5b9bd5; border: 8px solid #5b9bd5;font-size:17px;color: #000; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_B {width: 120px; height: 42px; background: #5b9bd5; border: 8px solid #5b9bd5;font-size:17px;color: #000; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_C {width: 120px; height: 42px; background: #5b9bd5; border: 8px solid #5b9bd5;font-size:17px;color: #000; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_10_C {width: 120px; height: 42px; background: #5b9bd5; border: 8px solid #5b9bd5;font-size:17px;color: #000; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_E {width: 120px; height: 42px; background: #5b9bd5; border: 8px solid #5b9bd5;font-size:17px;color: #000; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_F {width: 120px; height: 42px; background: #5b9bd5; border: 8px solid #5b9bd5;font-size:17px;color: #000; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_C_1 {width: 120px; height: 42px; background: #5b9bd5; border: 8px solid #5b9bd5;font-size:17px;color: #000; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_C_2 {width: 120px; height: 42px; background: #5b9bd5; border: 8px solid #5b9bd5;font-size:17px;color: #000; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}

#b_selected {width: 120px; height: 42px; background: #0070c0; border: 8px solid #0070c0;font-size:17px;color: #fff; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}

#b_common:hover {width: 120px; height: 42px; background: #0070c0; border: 8px solid #0070c0;font-size:17px;color: #fff; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_A:hover {width: 120px; height: 42px; background: #0070c0; border: 8px solid #0070c0;font-size:17px;color: #fff; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_B:hover {width: 120px; height: 42px; background: #0070c0; border: 8px solid #0070c0;font-size:17px;color: #fff; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_C:hover {width: 120px; height: 42px; background: #0070c0; border: 8px solid #0070c0;font-size:17px;color: #fff; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_10_C:hover {width: 120px; height: 42px; background: #0070c0; border: 8px solid #0070c0;font-size:17px;color: #fff; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_E:hover {width: 120px; height: 42px; background: #0070c0; border: 8px solid #0070c0;font-size:17px;color: #fff; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_F:hover {width: 120px; height: 42px; background: #0070c0; border: 8px solid #0070c0;font-size:17px;color: #fff; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_C_1:hover {width: 120px; height: 42px; background: #0070c0; border: 8px solid #0070c0;font-size:17px;color: #fff; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}
#b_9_C_2:hover {width: 120px; height: 42px; background: #0070c0; border: 8px solid #0070c0;font-size:17px;color: #fff; text-align: center;font-family:"Trebuchet MS";text-decoration: none;transition: .3s ease;}


.table {
}
